@CHARSET "ISO-8859-1";

.formListQcm{
	text-align: center;
}

.formQuestions{
	border: solid 1px grey;
}

fieldset.listeQuestion-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.listeQuestion-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}

.chrono{
	margin-left: 100%;
}