<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demoAjax</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>v0-index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ajax1</display-name>
    <servlet-name>Ajax1</servlet-name>
    <servlet-class>fr.eni_ecole.servlets.Ajax1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajax1</servlet-name>
    <url-pattern>/ajax1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDepartementXML</display-name>
    <servlet-name>AjaxDepartementXML</servlet-name>
    <servlet-class>fr.eni_ecole.servlets.AjaxDepartementXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDepartementXML</servlet-name>
    <url-pattern>/AjaxDepartementXML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDepartementJSON</display-name>
    <servlet-name>AjaxDepartementJSON</servlet-name>
    <servlet-class>fr.eni_ecole.servlets.AjaxDepartementJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDepartementJSON</servlet-name>
    <url-pattern>/AjaxDepartementJSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testAjax</display-name>
    <servlet-name>testAjax</servlet-name>
    <servlet-class>fr.eni_ecole.servlets.Ajax1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testAjax</servlet-name>
    <url-pattern>/testAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxTP</display-name>
    <servlet-name>AjaxTP</servlet-name>
    <servlet-class>fr.eni_ecole.servlets.AjaxTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTP</servlet-name>
    <url-pattern>/AjaxTP</url-pattern>
  </servlet-mapping>
</web-app>